/*****************************************************************************/
/*
/* Variables
/*
/*****************************************************************************/

$asideWidth: 25%;

/*****************************************************************************/
/*
/* Mixins
/*
/*****************************************************************************/

// Clearfix
// --------
// For clearing floats like a boss h5bp.com/q
@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

// Box sizing
@mixin box-sizing($boxmodel) {
  -webkit-box-sizing: $boxmodel;
     -moz-box-sizing: $boxmodel;
          box-sizing: $boxmodel;
}

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 16px "myriad-pro", Helvetica, Arial, sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #226fac; }
a:hover   { color: #1d6197; }
a:visited { color: #226fac; }

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
  span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }
}

ul.posts li {
  line-height: 1.25;
  margin-bottom: 1em;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  bottom: 0;
  font-size: 115%;
  left: 0;
  line-height: 1.5em;
  position: absolute;
  right: 0;
  text-align: justify;
  top: 0;
  width: 100%;

  aside, .content, footer {
    @include box-sizing(border-box);
    padding: 2em;
  }

  aside {
    background: #1e5c7f;
    bottom: 0;
    color: #1c3037;
    left: 0;
    line-height: 1;
    padding: 2em 0;
    position: fixed;
    top: 0;
    width: $asideWidth;

    a {
      font-weight: bold;
      text-decoration: none;
    }

    > a > img {
      display: block;
      left: 19px;
      margin: 0 auto;
      max-width: 100%;
      opacity: .7;
      position: relative;
      width: 10em;
    }

    h1.title {
      font-size: 1.5em;
      display: block;
      margin: 1em 0 0 0;
      text-align: center;

     a {
        color: #1c3037;
      }

     a:hover {
        color: #000;
      }
    }

    > p {
      font-family: georgia, serif;
      font-style: italic;
      margin: .5em 0;
      text-align: center;
    }

    ul.team {
      @include clearfix;
      clear: both;
      list-style-type: none;
      margin-bottom: 2em;
      text-align: center;

      li {
        display: inline-block;
        margin-left: 5px;

        &:first-child {
          margin: 0;
        }

        a {
          border: 5px solid #1c3037;
          border-radius: 20px;
          display: inline-block;
          height: 30px;
          width: 30px;

          &:hover {
            border: 5px solid #101e23;
          }

          img {
            border-radius: 20px;
            height: 100%;
            width: 100%;
          }
        }
      }
    }

    ul.posts {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      li {
        line-height: 1.5;
        margin-bottom: 0;
        padding: 0;
        text-align: left;

        a {
          border-top: 1px solid rgba(255, 255, 255, 0.1);
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          color: #1c3037;
          display: block;
          font-weight: normal;
          padding: 0.5em 1em;

          &:hover {
            background: rgba(0,0,0,0.1);
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          }

          span {
            padding-right: .5em;
          }
        }
      }
    }

    a.extra {
      color: #aaa;
      margin-left: 1em;
    }

    a.extra:hover {
      color: #000;
    }
  }

  .content {
    margin-left: $asideWidth;
  }

  .content {
    
  }

  .meta {
    color: #aaa;
    display: inline;

    &:after {
      content: " •";
    }

    &:nth-child(6):after {
      content: "";
    }
  }

  .categories {
    list-style-type: none;

    .category {
      display: inline;

      &:after {
        content: ", ";
      }

      &:last-child:after {
        content: "";
      }
    }
  }

  footer {
    font-size: 80%;
    color: #666;
    // border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;

    ul {
      // @include clearfix;
      left: 0;
      list-style: none;
      margin-top: 4px;
      position: absolute;

      @media only screen and (max-width: 1200px) {
        margin: 0 auto 3em;
        position: static;
        width: 220px
      }
    }
  }

  footer .contact {
    float: left;
    margin-right: 3em;
  }

  footer .contact a {
    color: #8085C1;
  }

  footer .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right;
  }

  footer .rss img {
    border: 0;
  }
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post {

  pre {
    border: 1px solid #ddd;
    background-color: #eef;
    font-size: .8em;
    line-height: 1.5em;
    overflow-x: auto;
    padding: .4em;
  }

  ul, ol {
    margin-left: 1.35em;
  }

  code {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: 0 .2em;
  }

  p code {
    font-size: .8em;
  }

  pre code {
    border: none;
  }

  /* terminal */
  pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
  }

  pre.terminal code {
    background-color: #333;
  }
}