{% include 'includes/header' %}

{% if type == 'post' %}

  <div class="section typeset {% for category in taxonomy['categories'] %}{{ category | downcase }} {% endfor %}">
    {% if meta['hero'] %}
      <img class="hero" src="{{meta['hero']}}" alt="{{ title }} Image">
    {% endif %}
    
    <div class="single">
      {% if taxonomy['categories']['Links'] %}
        <h1 class="delta"><a href="{{ meta['Link'] }}">{{ title }} <i class="fa fa-external-link"></i></a></h1>
      {% elsif taxonomy['categories']['Changelog'] %}
        <h1 class="delta">Changelog</h1>
        <h2 class="epsilon">{{ title }}</h2>
      {% else %}
        <h1><a href="{{ url }}">{{ title }}</a></h1>
      {% endif %}

      <ul class="globals--meta caption">
        {% if taxonomy['categories']['Links'] %}
          <li><time>{{ date | date: "%d %b, %Y"}}</time></li>
          <li>Posted by {{author}}</li>
          <li class="globals--meta--categories"><i class="fa fa-tag"></i> 
            {% for category in taxonomy['categories'] %}
              <a href="{{category.url}}">{{ category }}</a>
            {% endfor %}
          </li>
        {% else %}
          <li><time>{{ date | date: "%d %b, %Y"}}</time></li>
          <li>Words by {{author}}</li>
          <li class="globals--meta--categories"><i class="fa fa-tag"></i> 
            {% for category in taxonomy['categories'] %}
              <a href="{{category.url}}">{{ category }}</a>
            {% endfor %}
          </li>
          <li><i class="fa fa-anchor"></i> <a href="{{ post.url }}">Permalink</a></li>
        {% endif %}
      </ul>

      {{body}}

      {% if meta['via'] %}
        <p class="caption">via {{meta['via']}}</p>
      {% endif %}

      <p class="caption">Want to comment? You can find us <a href="http://twitter.com/usetito">on Twitter</a> or <a href="mailto:support@tito.io">drop us an email</a>, we’d love to hear from you.</p>
    </div>
  </div>  

{% elsif type == 'tag' %}

  <div class="section typeset tag-page">
    <div class="single">
      <h1><i class="fa fa-tags"></i> {{title}}</h1>
      <ul>
        {% for post in posts %}
          <li>
            <a href='{{post.url}}'>
              <span class="tag-date">{{post.date | date_to_string}}</span>
              <span class="tag-title">{{post.title}}</span>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endif %}

{% include 'includes/footer' %}