---
layout: default
title: The Tito Blog
---

<div id="home">
  <h1>Latest Blog Posts</h1>
  <ul class="posts">
    {% for post in site.posts limit: 5 %}
      <li>
        <a href="{{ post.url }}">
          <span>{{ post.date | date_to_string }}</span> &raquo; {{ post.title }}
          {% if post.content contains '<!--more-->' %}
              {{ post.content | split:'<!--more-->' | first }}
          {% else %}
              <!-- Case for when no excerpt is defined -->
          {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>
</div>