{% include 'includes/header' %}

<div id="home">
  <ul class="posts list">
    {% for post in site.posts limit: 20 %}
      <li>
        <!-- <a href="{{post.url}}"> -->
          <!-- <span>{{ post.date | date: "%d %b, %Y"}}</span> &raquo; {{ post.title }} -->

          <!-- {% if post %} -->
              <!-- {{ post.meta['excerpt'] | markdown }} -->
          <!-- {% else %} -->
              <!-- Case for when no excerpt is defined -->
          <!-- {% endif %} -->
        <!-- </a> -->
        <div class="post">
          {% if post.taxonomy['categories']['Link'] %}
            <h2>Link: <a href="{{ post.meta['Link'] }}">{{ post.title }}</a></h2>
          {% else %}
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
            <a href="{{ post.url }}">permalink</a>
          {% endif %}
          {% if post.meta['guest-author'] %}
            <p class="meta author">
            {% for asset in assets %}{% if asset.meta.avatar-url %}<img src="{{ asset.meta.avatar-url }}"/>{% endif %}{% endfor %} by {{ post.meta['guest-author']}}</p>
          {% else %}
            <p class="meta author"><img src="{{post.author.avatar}}"/> by {{post.author}}</p>
          {% endif %}
            
          
          <p class="meta">{{ post.date | date: "%d %b, %Y"}}</p>

          <ul class="meta categories">
            {% for category in post.taxonomy['categories'] %}
              <li class="category">{{ category }}</li>
            {% endfor %}
          </ul>

          {{post.body}}

          <footer>Want to comment? You can find us <a href="https://twitter.com/usetito">on Twitter</a> or <a href="mailto:support@tito.io">drop us an email</a>, we’d love to hear from you.</footer>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>

{% include 'includes/footer' %}