// Header demo styles
// ---------------------------------------

.global-header {
  font-size: 0;
  // height: 120px;

  &__logo {
    background-image: url(../img/tito.svg);
    background-size: cover;
    color: transparent;
    display: inline-block;
    font: 0/0 a;
    height: 40px;
    margin: 2rem 0 2rem 3%;
    position: relative;
    vertical-align: middle;
    width: 90px;

    @include breakpoint(break-1) {
      margin-left: 2rem;
    }

    a {
      position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
    }
  }
}

.global-categories {
  ul {
    list-style-type: none;
    position: relative;
      top: -27px;
    text-align: center;
    
    @include clearfix;
    @include fontsize(12, 0);

    li {
      display: inline-block;
      margin: 0 1rem;

      a {
        background: #fff;
        border-right: 5px solid #4c627a;
        border-bottom: 5px solid #4c627a;
        color: $bodyColour;
        display: block;
        padding: .5rem 1.5rem .25rem;
        width: 10rem;

        &:hover,
        &:focus,
        &:active {
          border-right: 5px solid darken(#4c627a, 20%);
          border-bottom: 5px solid darken(#4c627a, 20%);
        }
      }
    }
  }
}