<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>
          {% if slug == 'posts'%}
            {{site.title}}
          {% else %}
            {{title}} | {{site.title}}
          {% endif %}
        </title>

        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="alternate" type="application/rss+xml" title="The Tito Blog" href="http://blog.tito.io/feed.xml" />
        <link rel="shortcut icon" href="/assets/favicon.ico">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/css/syntax.css">
        <link rel="stylesheet" href="/stylesheets/css/main.css">

        <script src="/js/jquery-2.1.0.min.js"></script>
        <script src="/js/script.js"></script>
        <script type="text/javascript" src="//use.typekit.net/afe1hft.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    </head>
    <body>

      <div class="container">
        <div class="site">
          <header>
            <a href="/"><img src="/assets/tito_redux.svg" /> <span>Home</span></a>
            <h1 class="title"><a href="/">{{ site.title }}</a></h1>
            <p>thoughts from</p>
            <ul class="team">
              <li>
                <a href="http://twitter.com/paulca">
                  <img src="/assets/paulca.png" />
                </a>
              </li>
              <li>
                <a href="http://twitter.com/drbparsons">
                  <img src="/assets/drbparsons.png" />
                </a>
              </li>
              <li>
                <a href="http://twitter.com/kilmc">
                  <img src="/assets/kilmc.png" />
                </a>
              </li>
              <li>
                <a href="http://github.com/cillian">
                  <img src="/assets/cillian.png" />
                </a>
              </li>
            </ul>
            
            <h2><a href="#" class="showcats">Categories <i class="fa fa-chevron-down"></i></a></h2>
            <ul class="tags">
              {% for category in site.pages.posts.taxonomy.categories %}
                <li>
                  <a href="{{category.url}}">
                    {{category.value}}
                    <span class="count">
                      {{ category.posts | size}}
                    </span>
                  </a>
                </li>
              {% endfor %}
            </ul>

            <aside>
              <div class="contact">
                <p>Tito. Simple, powerful event software.</p>
              </div>
              <div class="contact">
                <ul>
                  <li><a href="http://ti.to">ti.to</a></li>
                  <li><a href="mailto:support@tito.io">support@tito.io</a></li>
                  <li><a href="http://twitter.com/usetito">@useTito</a></li>
                </ul>
              </div>
            </aside>
          </header>
          <div id="read" class="content">