/*****************************************************************************/
/*
/* Variables
/*
/*****************************************************************************/



/*****************************************************************************/
/*
/* Mixins
/*
/*****************************************************************************/

// Clearfix
// --------
// For clearing floats like a boss h5bp.com/q
@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

// Box sizing
@mixin box-sizing($boxmodel) {
  -webkit-box-sizing: $boxmodel;
     -moz-box-sizing: $boxmodel;
          box-sizing: $boxmodel;
}

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 16px "myriad-pro", Helvetica, Arial, sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #226fac; text-decoration:none;}
a:hover   { color: #1d6197; text-decoration:underline;}
a:visited { color: #226fac; }

table {
  font-size: inherit;
  font: 100%;
}

ul.posts.list {
  list-style-type: none;
  margin: 0 15% 2em 15%;

  @media only screen and (max-width: 1330px) {
    margin: 2em 10% 1em 10%;
  }

  @media only screen and (max-width: 700px) {
    margin: 2em 5% 1em 5%;
  }

  &:hover a {
    opacity: .2;
    -webkit-transition: opacity .1s linear;
  }

  li {
    line-height: 1.25;
  }

  a {
    display: block;
    margin: 0;
    padding-bottom: 2em;

    @media only screen and (max-width: 700px) {
      text-align: left;
    }

    &:hover {
      opacity: 1;
      text-decoration: none;
    }

    span {
      color: #aaa;
      font-family: Monaco, "Courier New", monospace;
      font-size: 80%;
      word-spacing: -3px;
    }

    p {
      color: #757575;
      font-size: .8em;
      line-height: 2;
      margin: 5px 0 0 0;
    }
  }
}

/*****************************************************************************/
/*
/* Sidebar
/*
/*****************************************************************************/

.site {
  header {
    background: #1e5c7f;
    bottom: 0;
    @include box-sizing(border-box);
    color: #1c3037;
    left: 0;
    line-height: 1;
    padding: 2em 0;
    position: fixed;
    top: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,0.1);
    width: 350px;

    @media only screen and (max-width: 700px) {
      // display: none;
      padding: 2em 0 0 0;
      position: static;
      width: 100%;
    }

    a {
      text-decoration: none;
    }

    > a {
      display: block;
      

      @media only screen and (max-width: 700px) {
        float: left;
        width: 50px;
      }

      > img {
        display: block;
        left: 19px;
        margin: 0 auto;
        max-width: 100%;
        opacity: .7;
        position: relative;
        -webkit-transition: all .2s linear;
        -webkit-transform: scale(1);
        width: 10em;

        @media only screen and (max-height: 720px) {
          width: 5em;
        }
      }

      > span {
        color: #fff;
        display: block;
        font-size: 2em;
        font-weight: bold;
        left: 2px;
        letter-spacing: 0;
        margin: 0 auto -18px;
        opacity: 0;
        position: relative;
        text-align: center;
        text-shadow: 0 1px 0 rgba(0,0,0,1);
        top: -100px;
        width: 80%;

        @media only screen and (max-height: 720px) {
          left: 11px;
          top: -57px;
        }
      }
    }

    > a:hover {

      @media only screen and (min-width: 700px) {
        > img {
          opacity: .5;
          -webkit-transition: all .2s linear;
          -webkit-transform: scale(.95);
          -webkit-transform-origin: center;
        }

        > span {
          opacity: 1;
          -webkit-transition: opacity .2s linear;
        }
      }
    }

    h1.title {
      font-size: 1.5em;
      display: block;
      margin: 1em 0 0 0;
      text-align: center;

      @media only screen and (min-width: 500px) and (max-width: 700px) {
        left: -25px;
        position: relative;
      }

      @media only screen and (max-width: 700px) {
        margin: 10px 0 40px;
      }

     a {
        color: #1c3037;
        text-shadow: 0 1px 0 rgba(255,255,255,0.1);
      }
    }

    h2 {
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      font-size: .7em;
      letter-spacing: 2px;
      padding: 0;
      text-align: center;
      text-transform: uppercase;
    }

    .showcats {
      color: #1c3037;
      cursor: pointer;
      display: block;
      padding: 15px;

      @media only screen and (min-width: 700px) {
        cursor: text;
      }

      i {
        -webkit-transform: rotate(0deg);
        -webkit-transition: all .2s linear;

        @media only screen and (min-width: 700px) {
          display: none;
        }
      }

      &.open {
        i {
          text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1);
          -webkit-transform: rotate(180deg);
          -webkit-transition: all .2s linear;
        }
      }
    }

    > p {
      font-family: georgia, serif;
      font-style: italic;
      margin: .7em 0 .9em;
      text-align: center;
      text-shadow: 0 1px 0 rgba(255,255,255,0.1);

      @media only screen and (max-width: 700px) {
        display: none;
      }

      @media only screen and (max-height: 640px) {
        display: none;
      }
    }

    ul.team {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      @include clearfix;
      clear: both;
      list-style-type: none;
      padding-bottom: 2em;
      text-align: center;

      @media only screen and (max-width: 700px) {
        display: none;
      }

      li {
        display: inline-block;
        margin-left: 5px;

        @media only screen and (max-height: 640px) {
          display: none;
        }

        &:first-child {
          margin: 0;
        }

        a {
          border: 5px solid #1c3037;
          border-radius: 20px;
          display: inline-block;
          height: 30px;
          width: 30px;

          &:hover {
            border: 5px solid #101e23;
          }

          img {
            border-radius: 20px;
            height: 100%;
            width: 100%;
          }
        }
      }
    }

    ul.tags {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      display: block;
      list-style-type: none;

      @media only screen and (max-width: 700px) {
        display: none;
      }

      li {
        line-height: 1.5;
        margin-bottom: 0;
        padding: 0;
        text-align: left;

        a {
          border-top: 1px solid rgba(255, 255, 255, 0.1);
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          color: #fff;
          display: block;
          font-weight: normal;
          padding: 0.5em 1em;
          text-shadow: 0 -1px 1px rgba(0,0,0,0.7);

          &:hover {
            background: rgba(0,0,0,0.1);
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          }

          span {
            color: #1c3037;
            float: right;
            padding-right: .5em;
            text-shadow: 0 1px 0 rgba(255,255,255,0.1);
          }
        }
      }
    }

    a.extra {
      color: #aaa;
      margin-left: 1em;
    }

    a.extra:hover {
      color: #000;
    }
  }

  header aside {
    background: #065371;
    border-top: 1px solid rgba(0,0,0,.1);
    bottom: 0;
    @include box-sizing(border-box);
    font-size: 80%;
    overflow: hidden;
    padding: 1em;
    position: absolute;
    width: 100%;

    @media only screen and (max-width: 700px) {
      background: transparent;
      border-top: none;
      position: static;
    }

    @media only screen and (max-height: 720px) {
      padding: 0 1em;
    }

    ul {
      list-style: none;
      margin-bottom: 1em;

      li {
        color: #fff;
        display: inline-block;
        padding: 0 .5em;
        text-shadow: 0 -1px 1px rgba(0,0,0,0.7);
      }
    }
  }

  aside .contact {
    text-align: center;

    &:first-child {
      font-weight: bold;
    }
  }

  aside .contact a {
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.7);

    &:hover {
      text-decoration: underline;
    }
  }
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  bottom: 0;
  font-size: 115%;
  left: 0;
  line-height: 1.5em;
  position: absolute;
  right: 0;
  text-align: justify;
  top: 0;
  width: 100%;

  @media only screen and (max-width: 700px) {
    position: static;
  }

  footer {
    @media only screen and (max-width: 700px) {
      padding: 1em;
    }
  }

  .content {
    border: 2em solid rgba(50, 93, 122, 0.05);
    @include box-sizing(border-box);
    min-height: 100%;
    margin-left: 350px;

    @media only screen and (max-width: 700px) {
      border: .5em solid rgba(50, 93, 122, 0.2);
      margin-left: 0;
    }
  }

  footer .rss {
    margin-top: 1.1em;
    margin-right: -.2em;
    float: right;
  }

  footer .rss img {
    border: 0;
  }
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

#home {
  max-width: 1200px;

  h1 {
    margin: 2em 15% 1em 15%;

    @media only screen and (max-width: 1330px) {
      margin: 2em 10% 1em 10%;
    }

    @media only screen and (max-width: 700px) {
      margin: 2em 5% 1em 5%;
    }
  }
}

/*****************************************************************************/
/*
/* Tag Page
/*
/*****************************************************************************/

.tag-page {
  max-width: 1200px;

  h1 {
    margin: 2em 15% 1em 15%;

    @media only screen and (max-width: 1330px) {
      margin: 2em 10% 1em 10%;
    }

    @media only screen and (max-width: 700px) {
      margin: 2em 5% 1em 5%;
    }
  }
}

/*****************************************************************************/
/*
/* Individual Posts
/*
/*****************************************************************************/

/* standard */
.post {
  margin: 2em 15% 0;
  max-width: 900px;

  @media only screen and (max-width: 1330px) {
    margin: 2em 10% 1em 10%;
  }

  @media only screen and (max-width: 700px) {
    margin: 2em 5% 1em 5%;
    text-align: left;
  }

  .meta {
    color: #aaa;
    display: inline;

    &.author {
      img {
        border-radius: 25px;
        float: left;
        margin-left: -40px;
        position: relative;
        top: -1px;
        width: 30px;

        @media only screen and (max-width: 1023px) {
          display: none;
        }
      }

      &:after {
        content: " \2022";
      }
    }
  }

  ul.meta {
    display: block;
  }

  .categories {
    list-style-type: none;
    margin: 0;

    .category {
      background: #f4f6f8;
      border-radius: 10px;
      color: #aaa;
      display: inline-block;
      font-size: .65em;
      line-height: 1.5;
      padding: 0 10px 1px 10px;
      position: relative;
      top: -2px;
    }
  }

  pre {
    border: 1px solid #ddd;
    background-color: #f4f6f8;
    font-size: .8em;
    line-height: 1.5em;
    overflow-x: auto;
    padding: .4em;
  }

  ul, ol {
    margin-left: 1.35em;
  }

  img {
    max-width: 100%;

    &.half {
      width: 50%
    }

    &.third {
      width: 33%
    }

    &.quarter {
      width: 25%
    }

    &.right {
      float: right;
      padding: 0 0 0 20px;
    }

    &.left {
      float: left;
      padding: 0 20px 0 0;
    }
  }

  code {
    border: 1px solid #ddd;
    background-color: #f4f6f8;
    padding: 0 .2em;
  }

  p {
    @media only screen and (max-width: 1023px) {
      text-align: left;
    }
  }

  p code {
    font-size: .8em;
  }

  pre code {
    border: none;
  }

  /* terminal */
  pre.terminal {
    border: 1px solid #000;
    background-color: #333;
    color: #FFF;
  }

  pre.terminal code {
    background-color: #333;
  }

  footer {
    color: #aaa;
    font-size: 80%;
    font-style: italic;
    padding: 2em 0;
  }
}

/*****************************************************************************/
/*
/* Specific Post Classes
/*
/*****************************************************************************/

.post {
  img.fc-avatar {
    border-radius: 20px;
    float: right;
    height: 100px;
    margin: 1em 0 1em 2em;
    width: 100px;
  }
}